<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Cámara para escaneo de QR -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- No necesitamos permisos de red en este módulo —
         la capa de red vive en anonsurf-engine -->

</manifest>
